In [1]:
import pandas as pd                 # dataframes (can plot)

import numpy as np                  # arrays and math (can plot)

import matplotlib.pyplot as plt     # general plotting library

import seaborn as sns               # advanced plotting library

from datetime import datetime
import xlrd
%matplotlib inline

In [34]:
df = pd.read_excel('C:\\Users\\dijonh\\Desktop\\slice_health\\171110_180228_ps_slicehealth_report.xlsx', sheetname=0, index_col=0)
df.head()

,prep_name,first_time,last_time,mean_health,slice_success_rate,wov_fraction,uneven_fraction,damaged_fraction,attempt_count,user,rig,acsf_date,slice_name
day,,,,,,,,,,,,,
2017-11-10,357183,10:30,10:48,4.000000,0.333333,0.0,0.0,0.333333,3,"aarono, lindsayn","2, 7",2017-11-09,"Nkx2-1-CreERT2;Ai14-357183.05.02, Nkx2-1-CreER..."
2017-11-10,357672,10:53,13:23,2.000000,0.750000,1.0,0.0,0.000000,3,lindsayn,7,2017-11-09,"Nos1-CreERT2;Sst-IRES-FlpO;Ai65-357672.04.01, ..."
2017-11-10,357932,13:16,15:02,2.375000,0.625000,0.5,0.0,0.000000,8,"lisak, lindsayn","4, 7",2017-11-09,"Sst-IRES-Cre;Ai14-357932.03.02, Sst-IRES-Cre;A..."
2017-11-13,358733,09:41,14:46,2.733333,0.583333,0.4,0.0,0.000000,14,"aarono, dijonh, lindsayn, rustym","3, 2, 4, 7","2017-11-08, 2017-11-09, 2017-11-13, 2017-11-10","Vip-IRES-Cre;Ai14-358733.0.03.01, Vip-IRES-Cre..."
2017-11-13,358945,11:03,14:03,3.200000,0.800000,0.4,0.0,0.000000,7,"dijonh, aarono, ramr, lisak","2, 5, 4, 6","2017-11-08, 2017-11-09","Scnn1a-Tg2-Cre;Ai14-358945.0.03.01, Scnn1a-Tg2..."

In [15]:
print df.columns

Index([u'day', u'prep_name', u'first_time', u'last_time', u'mean_health',
       u'slice_success_rate', u'wov_fraction', u'uneven_fraction',
       u'damaged_fraction', u'attempt_count', u'user', u'rig', u'acsf_date',
       u'slice_name'],
      dtype='object')

In [39]:
df = pd.read_excel('C:\\Users\\dijonh\\Desktop\\slice_health\\171110_180228_ps_slicehealth_report.xlsx', sheetname=0, 
parse_cols=4)
df.head()

          day prep_name first_time last_time  mean_health
0  2017-11-10    357183      10:30     10:48     4.000000
1  2017-11-10    357672      10:53     13:23     2.000000
2  2017-11-10    357932      13:16     15:02     2.375000
3  2017-11-13    358733      09:41     14:46     2.733333
4  2017-11-13    358945      11:03     14:03     3.200000

In [ ]:
slice_health = df.pivot_table()